<tr id="place{{place.id}}_plot{{place.plotId}}">
            <!-- # -->
            <td style="text-align: center;">{{i}}</td>
            <!-- Code -->
            <td>{{place.code}}</td>
            <!-- Plot Name -->
            <td>{{place.plotName}}</td>
            <!-- Tags -->
            <td>{{place.objectType}}</td>
            <td>
                <ul class="unstyled">
                     {{#each place.tags}}
                        <li><strong class="cap">{{value}}</strong>
                            (<span class="cap">{{family}}</span> / {{weight}})</li>
                    {{/each}}
                </ul>
            </td>
            <!-- Test -->
            <td>{{place.plotId}}</td>
            <!-- Comment -->
            <td>{{place.comment}}</td>
            <!-- Place -->
            <td class="place">
                <input type="radio" name="{{place}}Radio" id="generatedPlace" checked><select class="bold"
                                                                                             disabled="true"
                                                                                             isEmpty="true"></select><br>
                <input type="radio" name="{{place}}Radio" id="writtenPlace"><input type="text" id="placeWritten"
                                                                                  class="written">
                <a class="btn unban" title="Débannir" disabled="true"><i class="icon-arrow-left"></i></a>
            </td>
            <!-- Restart place -->
            <td class="restartPlace" style="text-align: center;">
                <input type="checkbox" name="option" value="unlock" disabled="true">
            </td>
        </tr>