<div class="accordion-group">
    {{#if role.title}}
    <div class="accordion-heading alert-success">
    {{else}}
    <div class="accordion-heading">
    {{/if}}
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionPastScene{{ role.roleId }}"
           href="#collapsePastScene{{ role.roleId }}-{{ pastscene.id }}" data-pastsceneId="{{ pastscene.id }}">

            <!--###PASTSCENECHANGE-->
            En {{pastscene.absoluteYear}} le {{pastscene.absoluteDay}} {{pastscene.absoluteMonthLetters}} à {{pastscene.absoluteHour}}h {{pastscene.absoluteMinute}} -

            {{ pastscene.title }}
        </a>
    </div>
    <div id="collapsePastScene{{ role.roleId }}-{{ pastscene.id }}" class="accordion-body collapse">
        <div class="accordion-inner">
            <div class="formRow">
                <div class="span1">
                    Titre
                </div>
                <div class="span8">
                    <input type="text" disabled="disabled" name="roleHasPastSceneTitle{{ pastscene.id }}" value="{{role.title}}" id="roleHasPastSceneTitle{{ pastscene.id }}">
                </div>
            </div>
            <div class="row formRow text-center">
                <label for="roleDescription">
                    Description
                </label>
            </div>
            <textarea disabled="disabled" name="roleHasPastSceneDescription{{ pastscene.id }}" rows="5" cols="100" id="roleHasPastSceneDescription{{ pastscene.id }}">
                {{role.description}}
            </textarea>
        </div>
    </div>
</div>