<div class="tab-pane" id="event_{{ event.id }}">
    <form name="updateEvent_{{ event.id }}" data-url="/gnk/event/update/{{ event.id }}">
    <input type="hidden" name="id" value="{{ event.id }}"/>
    <input type="hidden" name="plotId" id="plotId" value="{{ event.plotId }}"/>
    <input type="hidden" name="eventDescription" class="descriptionContent" value=""/>

    <div class="row formRow">
        <div class="span1">
            <label for="EventName">
                Nom
            </label>
        </div>

        <div class="span8">
            <input type="text" name="eventName" id="EventName" value="{{ event.name }}" required=""/>
        </div>
    </div>
    <div class="row formRow">
        <div class="span1">
            <label for="eventPublic">
                Publique
            </label>
        </div>

        <div class="span4">
            {{#if event.isPublic}}
                <input type="checkbox" name="eventPublic" id="eventPublic" checked="checked">
            {{else}}
                <input type="checkbox" name="eventPublic" id="eventPublic">
            {{/if}}
        </div>

        <div class="span1">
            <label for="eventPlanned">
                Planifié
            </label>
        </div>

        <div class="span4">
            {{#if event.isPlanned}}
                <input type="checkbox" name="eventPlanned" id="eventPlanned" checked="checked">
            {{else}}
                <input type="checkbox" name="eventPlanned" id="eventPlanned">
            {{/if}}
        </div>
    </div>
    <div class="row formRow">
        <div class="span1">
            <label for="EventDuration">
                Durée (min)
            </label>
        </div>

        <div class="span4">
            <input type="number" name="eventDuration" id="EventDuration" value="{{ event.duration }}" required=""/>
        </div>

        <div class="span1">
            <label for="EventTiming">
                Timing (%)
            </label>
        </div>

        <div class="span4">
            <input type="number" name="eventTiming" id="EventTiming" value="{{ event.timing }}" required=""/>
        </div>
    </div>
    <div class="row formRow">
        <div class="span1">
            <label for="eventPlace">
                Lieu
            </label>
        </div>

        <div class="span4">
            <select name="eventPlace" id="eventPlace" required="">

            </select>
        </div>

        <div class="span1">
            <label for="eventPredecessor">
                Prédécesseur
            </label>
        </div>

        <div class="span4">
            <select name="eventPredecessor" id="eventPredecessor" required="">

            </select>
        </div>
    </div>

    <div class="row formRow text-center">
        <label for="eventDescription">
            Description
        </label>
    </div>

    <div class="fullScreenEditable">

        <!-- Editor -->
        <div id="eventRichTextEditor{{ event.id }}" contenteditable="true" class="text-left richTextEditor" onblur="saveCarretPos($(this).attr('id'))">
            {{ encodeAsHtml event.description }}
        </div>
    </div>
    <input type="button" name="Update" data-id="{{ event.id }}" value="Update" class="btn btn-primary updateEvent"/>
    </form>
</div>