<div class="tab-pane" id="resource_{{ genericResource.id }}">
    <form name="updateResource_{{ genericResource.id }}" data-url="/gnk/genericResource/update/{{ genericResource.id }}">
        <input type="hidden" name="id" value="{{ genericResource.id }}"/>
        <input type="hidden" name="plotId" id="plotId" value="{{ genericResource.plotId }}"/>
        <input type="hidden" name="resourceComment" class="commentContent" value=""/>
        <input type="hidden" name="resourceRoleFrom" class="fromRoleTextContent" value=""/>
        <input type="hidden" name="resourceRoleTo" class="toRoleTextContent" value=""/>
        <input type="hidden" name="resourceDescription" class="descriptionContent" value=""/>

        <div style="margin:auto">
            <div class="row formRow">
                <div class="span1">
                    <label for="resourceCode">
                        Nom*
                    </label>
                </div>
                <div class="span8">
                    <input type="text" name="resourceCode" id="resourceCode" value="{{ genericResource.code }}" required=""/>
                </div>
            </div>
            <div class="row formRow">
                <div class="span1">
                    <label>
                        Tags
                    </label>
                </div>
                <div class="span4">
                    <a href="#resourceTagsModal_{{ genericResource.id }}" class="btn" data-toggle="modal">
                        Choisir les tags
                    </a>
                </div>
            </div>

            <div class="row formRow">
                <div class="span3">
                    <label>
                        Type de ressource :
                    </label>
                </div>
                <div class="span1">
                    <label for="resourceObjectToDefine">
                        A définir
                    </label>
                </div>
                <div class="span1">
                    {{#ifCond genericResource.resourceObject 0}}
                        <input type="radio" name="resourceObject" checked="checked" value="0" id="resourceObjectToDefine">
                    {{else}}
                        <input type="radio" name="resourceObject" value="0" id="resourceObjectToDefine">
                    {{/ifCond}}
                </div>
                <div class="span1">
                    <label for="resourceObjectInGame">
                        En jeu
                    </label>
                </div>
                <div class="span1">
                    {{#ifCond genericResource.resourceObject 1}}
                        <input type="radio" name="resourceObject" checked="checked" value="1" id="resourceObjectInGame">
                    {{else}}
                        <input type="radio" name="resourceObject" value="1" id="resourceObjectInGame">
                    {{/ifCond}}
                </div>
                <div class="span1">
                    <label for="resourceObjectSimulated">
                        Simulé
                    </label>
                </div>
                <div class="span1">
                    {{#ifCond genericResource.resourceObject 2}}
                        <input type="radio" name="resourceObject" checked="checked" value="2" id="resourceObjectSimulated">
                    {{else}}
                        <input type="radio" name="resourceObject" value="2" id="resourceObjectSimulated">
                    {{/ifCond}}
                </div>
                <div class="span1">
                    <label for="resourceObjectOffGame">
                        Hors jeu
                    </label>
                </div>
                <div class="span1">
                    {{#ifCond genericResource.resourceObject 3}}
                        <input type="radio" name="resourceObject" checked="checked" value="3" id="resourceObjectOffGame">
                    {{else}}
                        <input type="radio" name="resourceObject" value="3" id="resourceObjectOffGame">
                    {{/ifCond}}
                </div>
            </div>

            <div class="row formRow text-center">
                <label for="resourceComment">
                    Commentaire
                </label>
            </div>
            <div class="fullScreenEditable">

                <!-- Editor -->
                <div id="resourceRichTextEditor{{ genericResource.id }}" contenteditable="true" class="text-left richTextEditor" onblur="saveCarretPos($(this).attr('id'))">
                    {{ encodeAsHtml genericResource.comment }}
                </div>
            </div>

            <div class="row formRow">
                <div class="span2">
                    <label for="resourceIsClue">
                        Element textuel
                    </label>
                </div>
                <div class="span3">
                    {{#if genericResource.clue}}
                        <input type="checkbox" name="resourceIsClue" checked="checked" id="resourceIsClue">
                    {{else}}
                        <input type="checkbox" name="resourceIsClue" id="resourceIsClue">
                    {{/if}}
                </div>
            </div>
            {{#if genericResource.clue}}
                <div class="row formRow clueRow">
            {{else}}
                <div class="row formRow clueRow hidden">
            {{/if}}
                    <div class="span1">
                        <label for="resourceTitle">
                            Titre
                        </label>
                    </div>
                    <div class="span4">
                        <input type="text" name="resourceTitle" id="resourceTitle" value="{{ genericResource.title }}">
                    </div>
                    <div class="span1">
                        <label for="resourceRolePossessor">
                            Possesseur
                        </label>
                    </div>
                    <div class="span4">
                        <select name="resourceRolePossessor" id="resourceRolePossessor">
                        </select>
                    </div>
                </div>

            <!--{{#if genericResource.clue}}-->
                <!--<div class="row formRow clueRow">-->
            <!--{{else}}-->
                <!--<div class="row formRow clueRow hidden">-->
            <!--{{/if}}-->
                    <!--<div class="span1">-->
                        <!--<label for="resourceRoleFrom">-->
                            <!--Du rôle-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="span4">-->
                        <!--<select name="resourceRoleFrom" id="resourceRoleFrom">-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="span1">-->
                        <!--<label for="resourceRoleTo">-->
                            <!--Pour le rôle-->
                        <!--</label>-->
                    <!--</div>-->
                    <!--<div class="span4">-->
                        <!--<select name="resourceRoleTo" id="resourceRoleTo">-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->

            // resource clue from role
            {{#if genericResource.clue}}
            <div class="row formRow text-center clueRow">
            {{else}}
            <div class="row formRow text-center clueRow hidden">
            {{/if}}

            <label for="resourceRoleFrom">
                Role from
            </label>
        </div>

            {{#if genericResource.clue}}
            <div class="fullScreenEditable clueRow">
            {{else}}
            <div class="fullScreenEditable clueRow hidden">
            {{/if}}

            <!-- Editor -->
            <div id="clueRichTextEditor1" contenteditable="true" class="text-left richTextEditor" onblur="saveCarretPos($(this).attr('id'))">
                {{ encodeAsHtml genericResource.fromRoleText }}
            </div>
        </div>

            // resource clue to role
            {{#if genericResource.clue}}
            <div class="row formRow text-center clueRow">
            {{else}}
            <div class="row formRow text-center clueRow hidden">
            {{/if}}

            <label for="resourceRoleTo">
                Role to
            </label>
        </div>

            {{#if genericResource.clue}}
            <div class="fullScreenEditable clueRow">
            {{else}}
            <div class="fullScreenEditable clueRow hidden">
            {{/if}}

            <!-- Editor -->
            <div id="clueRichTextEditor2" contenteditable="true" class="text-left richTextEditor" onblur="saveCarretPos($(this).attr('id'))">
                {{ encodeAsHtml genericResource.toRoleText }}
            </div>
        </div>
            //

            {{#if genericResource.clue}}
                <div class="row formRow text-center clueRow">
            {{else}}
                <div class="row formRow text-center clueRow hidden">
            {{/if}}

                    <label for="resourceDescription">
                        Description
                    </label>
                </div>

            {{#if genericResource.clue}}
                <div class="fullScreenEditable clueRow">
            {{else}}
                <div class="fullScreenEditable clueRow hidden">
            {{/if}}

                    <!-- Editor -->
                    <div id="clueRichTextEditor{{ genericResource.id }}" contenteditable="true" class="text-left richTextEditor" onblur="saveCarretPos($(this).attr('id'))">
                        {{ encodeAsHtml genericResource.description }}
                    </div>
                </div>
        </div>

        <div id="resourceCluesModal_{{ genericResource.id }}" class="modal hide fade" tabindex="-1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>

                <h3>
                    Indices
                </h3>
            </div>

            <div class="modal-body">
                <ul>

                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Ok</button>
            </div>
        </div>

        <div id="resourceTagsModal_{{ genericResource.id }}" class="modal hide fade tags-modal" tabindex="-1">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3 id="myModalLabel{{ genericResource.id }}">Tags</h3>
                <input class="input-medium search-query" data-content="resourceTags{{ genericResource.id }}" placeholder="Rechercher..."/>
                <button type="button" class="btn btn-primary modifyTag push">
                    Tags validés
                </button>
            </div>

            <div class="modal-body">
                <ul class="resourceTags{{ genericResource.id }}">
                    {{#recursive genericResourceTagList}}
                        <li class="modalLi row" data-name="{{toLowerCase name }}">
                            <label class="pull-left">
                                <input type="checkbox" name="resourceTags_{{ id }}" id="resourceTags{{ ../genericResource.id }}_{{ id }}"
                                       onClick="hideTags('resourceTags{{ ../genericResource.id }}_{{ id }}', 'resourceTagsWeight{{ ../genericResource.id }}_{{ id }}')"/>
                                {{ name }}
                            </label>
                            <div class="pull-right">
                                <button type="button" class="btn btn-danger banTag"><i class="icon-ban-circle"></i></button>
                            </div>
                            <div class="pull-right tagWeight">
                                <input name="resourceTagsWeight_{{ id }}" value="50" type="number" max="101" class="tagWeightInput"
                                       min="-101" style="width:45px;" id="resourceTagsWeight{{ ../genericResource.id }}_{{ id }}">
                            </div>
                            <div class="pull-right">
                                <button type="button" class="btn btn-success chooseTag"><i class="icon-ok"></i></button>
                            </div>
                        </li>
                        {{#if children}}
                            <li class="modalLi">
                                <ul>
                                    {{{recursive children}}}
                                </ul>
                            </li>
                        {{/if}}
                    {{/recursive}}
                </ul>
            </div>

            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Ok</button>
            </div>
        </div>
        <input type="button" name="Update" data-id="{{ genericResource.id }}" value="Update" class="btn btn-primary updateResource"/>
    </form>
</div>
