<li class="leftMenuList">
    <a href="#event_{{ eventId }}" data-toggle="tab">
        {{ eventTiming }}% - {{ eventName }}
    </a>
    <button data-toggle="confirmation-popout" data-placement="left" class="btn btn-danger" title=""
            data-url="/gnk/event/delete/{{ eventId }}" data-object="event"
            data-original-title="Supprimer l'évènement?" style="right: -40px;" data-id="{{ eventId }}">
        <i class="icon-remove pull-right"></i>
    </button>
</li>