<div class="accordion-group" data-relation="{{ relation.id }}" data-roleTo="{{ relation.RoleToId }}">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionRelation{{ relation.RoleFromId }}"
           href="#collapseRelation{{ relation.RoleFromId }}-{{ relation.id }}">
            {{ relation.RoleRelationTypeName }}
        </a>
        <span class="text-center" data-roleId="{{ relation.RoleToId }}">
            {{#if relation.isBijective}}
                <span><img src="/gnk/static/images/redactIntrigue/relations/doubleArrow.png"></span>
            {{else}}
                {{#if myRelation}}
                <span><img src="/gnk/static/images/redactIntrigue/relations/rightArrow.png"></span>
                {{else}}
                <span><img src="/gnk/static/images/redactIntrigue/relations/leftArrow.png"></span>
                {{/if}}
            {{/if}}
            {{ relation.RoleToCode }}
        </span>
        <button data-toggle="confirmation-popout" data-placement="left" class="btn btn-danger pull-right" title=""
                data-url="/gnk/relation/delete/{{ relation.id }}" data-object="relation" data-id="{{ relation.id }}"
                data-original-title="Supprimer la relation?">
            <i class="icon-remove pull-right"></i>
        </button>
    </div>
    <div id="collapseRelation{{ relation.RoleFromId }}-{{ relation.id }}" class="accordion-body collapse">
        <div class="accordion-inner">
            <form name="updateRelation{{ relation.RoleFromId }}_{{ relation.id }}" data-url="/gnk/relation/update/{{ relation.id }}">
                <input type="hidden" name="relationFrom" value="{{ relation.RoleFromId }}" id="relationFrom">
                <input type="hidden" name="id" value="{{ relation.id }}" id="id">
                <input type="hidden" name="relationDescription" class="descriptionContent" value=""/>
                <div class="row formRow">
                    <div class="span1">
                        <label for="relationType">
                            Type de relation
                        </label>
                    </div>
                    <div class="span4">
                        <select name="relationType" id="relationType" required="">

                        </select>
                    </div>
                    <div class="span1">
                        <label for="relationTo">
                            Vers
                        </label>
                    </div>
                    <div class="span4">
                        <select name="relationTo" id="relationTo" required="">

                        </select>
                    </div>
                </div>
                <div class="row formRow">
                    <div class="span1">
                        <label for="relationBijective">
                            Bijective
                        </label>
                    </div>
                    <div class="span4">
                        {{#if relation.isBijective}}
                            <input type="checkbox" name="relationBijective" id="relationBijective" checked="checked">
                        {{else}}
                            <input type="checkbox" name="relationBijective" id="relationBijective">
                        {{/if}}
                    </div>
                    <div class="span1">
                        <label for="relationExclusive">
                            Exclusive
                        </label>
                    </div>
                    <div class="span4">
                        {{#if relation.isExclusive}}
                            <input type="checkbox" name="relationExclusive" id="relationExclusive" checked="checked">
                        {{else}}
                            <input type="checkbox" name="relationExclusive" id="relationExclusive">
                        {{/if}}
                    </div>
                </div>
                <div class="row formRow">
                    <div class="span1">
                        <label for="relationWeight">
                            Poids
                        </label>
                    </div>
                    <div class="span4">
                        <input type="number" name="relationWeight" id="relationWeight" required="" value="{{ relation.weight }}">
                    </div>
                    <div class="span1">
                        <label for="relationHidden">
                            Cachée
                        </label>
                    </div>
                    <div class="span4">
                        {{#if relation.isHidden}}
                            <input type="checkbox" name="relationHidden" id="relationHidden" checked="checked">
                        {{else}}
                            <input type="checkbox" name="relationHidden" id="relationHidden">
                        {{/if}}
                    </div>
                </div>
                <div class="row formRow text-center">
                    <label for="relationDescription">
                        Description
                    </label>
                </div>
                <div class="fullScreenEditable">

                    <!-- Editor -->
                    <div id="relationRichTextEditor{{ relation.RoleFromId }}-{{ relation.id }}" contenteditable="true" class="text-left richTextEditor" onblur="saveCarretPos($(this).attr('id'))">
                        {{ encodeAsHtml relation.description }}
                    </div>
                </div>
                <input type="button" name="Update" data-id="{{ relation.id }}" data-oldRoleToId="{{ relation.RoleToId }}"
                       data-roleFromId="{{ relation.RoleFromId }}" value="Update"
                       class="btn btn-primary updateRelation" data-wasBijective="{{ relation.isBijective }}">
            </form>
        </div>
    </div>
</div>